<div class="row bg-morado">
  <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
    <img src="../../assets/img/banner/Scotia-Casita.png" class="img-home">
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
    <div>
      <h1 class="text-white"><b>¡Mejoramos el producto de construcción!</b></h1>
      <h3 class="text-white"><b>Incorporamos el destino a Hipoteca Online</b></h3>
      <h5 class="text-white">
        <ul>
          <li>Proceso más sencillo</li>
          <li>Mayor tracking de la operación</li>
          <li>Visibilidad total de Canal Bróker</li>
        </ul>
      </h5>
      <br>
      <h3 class="text-white"><b>Mejoramos las políticas del producto</b></h3>
      <h5 class="text-white">
        <ul>
          <li>Figuras aceptadas para la licencia de construcción</li>
          <li>Mayor % en la 1a. ministración</li>
          <li>Ampliación de plazos de entrega de las ministraciones</li>
        </ul>
      </h5>
      <br>
      <h3 class="text-white"><b>Para más informacion acude a tu asesor hipotecario</b></h3>
    </div>
  </div>
</div>

<section id="overlap-image-examples">
  <div class="row match-height">

  </div>
</section>
